* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: "Montserrat Alternates Medium", sans-serif;
    background-color:#395285;
    background-image: url("../img/transparent-background-01.png");
}

/*-------------------------------------popup2----------------------------------------*/
h1 {
    font-size: 55px;
    color: white;
    text-align: left;
    width: 600px;
    font-family: "Open Sans", serif;
}
.container_popup2 {
    background-color: #acbf1b;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    margin: 3em 8em;
}

.button {
    text-decoration: none;
    font-size: .875rem;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 1.5rem;
    background-color: #fff;
    color: #395285;
    padding: 1rem 2rem;
    font-weight: 900;
    font-family: "Open Sans", serif;
}

.popup2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 15;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: .64s ease-in-out;
}
.popup-inner2 {
    position: relative;
    bottom: -100vw;
    right: -100vh;
    display: flex;
    align-items: center;
    max-width: 800px;
    max-height: 600px;
    width: 60%;
    height: 80%;
    background-color: #fff;
    transform: rotate(32deg);
    transition: .64s ease-in-out;
    border-radius: 20px;
}

.popuptext2 {
    width: 70%;
    height: 100%;
    padding: 4rem;
    border-radius: 5px;
}
.popuptext2 > form {
    padding : 3em;
}

.popup2:target {
    visibility: visible;
    opacity: 1;
}
.popup2:target .popup-inner2 {
    bottom: 0;
    right: 0;
    transform: rotate(0);
}
.closepopup2 {
    position: absolute;
    right: -1rem;
    top: -1rem;
    width: 3rem;
    height: 3rem;
    font-size: .875rem;
    font-weight: 300;
    border-radius: 100%;
    background-color: #47BDFF;
    z-index: 4;
    color: #fff;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

/*renseignements*/

#renseignements {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: stretch;
    flex-flow: row wrap;
    background: none;
    margin: 50px  30px 0 30px

}
div .flex_r{
    width: 29%;
    margin-bottom: 100px;
}
.flex_r {

   border-left: 5px solid white;
   font-family: "Open Sans", serif;
    color: white;
    padding: 0 10px 0 40px;
}
