* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: "Montserrat Alternates Medium", sans-serif;
    background-color:#395285;
    background-image: url("../img/transparent-background-01.png");
}

/*------------------------SECTION  block gauche--------------------------------*/
section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.bloc_gauche{
    float: left;
    width: 50%;
    margin-top: 100px;
}
.lnVerticale{
    border-left: 5px solid white;
    height: auto;
    width: auto;
    margin-left: 120px;
}

h1 {
    font-size: 55px;
    color: white;
    text-align: left;
    margin: 25px 30px 50px 30px;
    width: 600px;
    font-family: "Open Sans", serif;

}
h2 {
    color: #f25f29;
    margin-left: 160px;
    text-align: start;
    font-family: "Open Sans SemiBold", serif;
    font-size: 25px;
}

 p strong {
    font-size: 30px;
    color: #f25f29;
}

p {
    font-family: "Open Sans Light", serif;
    text-align: justify;
    color: white;
    font-size: 20px;
    margin-left: 160px;
    margin-bottom: 50px;
}


/*------------------------SECTION  block droite--------------------------------*/
aside {
    float: right;
    width: 40%;
}
#technologie{
    color: #f25f29;
     margin-left: 220px;
}
.container{
    padding: 30px;
    margin-top: 80px;
    background-color: white;
    box-shadow: 0 4px 5px #17195d;
    text-align: center;
    border-radius: 20px;

}

.bloc_droit2 {
    box-shadow: 0 4px 5px #17195d;
    float: right;
    padding: 80px 50px 50px 40px;
    margin-top: 30px;
    background-color: #acbf1b;
    font-size: 15px;
    color: white;
    border-radius: 20px;
    font-family: "Open Sans", serif;
    width: 100%;
}

.form > label {
    display: inline-block;
    width: 20%;
    text-align: right;
    vertical-align: center;
}
textarea{
    margin:.7em;
    width: 70%;
    height: 80px;
}
.form > input
{
    margin:.7em;
    font: 15px "Open Sans", serif;
    width: 70%;
    height: auto;
}

#envoyer > button {
    vertical-align: center;
    padding: 20px;
    width: auto;
    background-color: white;
    font-family: "Open Sans", serif;
    margin-left: 150px;
}


