* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: "Montserrat Alternates Medium", sans-serif;
    background-color:#395285;
    background-image: url("../img/transparent-background-01.png");
}
/*--------------------------- header*--------------------------*/

.menu-item{
    list-style: none;
    z-index: 3;
    text-align:center;
    text-decoration: none;
    color:white;
    cursor: pointer;
    background-color: #395285;
    border-left: 3px solid #395285;
    padding: 15px 100px 15px 100px;
}

.nav .menu-flex {
    display:flex;
    justify-content: center;
    width: 100%;
    height: 75px;
    box-shadow: 0 2px 2px #17195d;
}

.active, .menu-item:hover {

    background-color: #354170;
    text-decoration: none;
    list-style: none;
    color: white;
    border-left: 3px solid white;
    transition: .4s ease;
}

.fa-home, .fa-laptop-code, .fa-portrait, .fa-paper-plane,.fa-sticky-note,.fa-hands-helping,.fa-sign-in-alt
{
    text-align: center;
    color: white;
    font-size: 28px;

}

/*------------------------SECTION  block gauche--------------------------------*/
section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.bloc_gauche{
    float: left;
    width: 50%;
    margin-top: 100px;
}
.lnVerticale{
    border-left: 5px solid white;
    height: auto;
    width: auto;
    margin-left: 120px;
}

h1 {
    font-size: 55px;
    color: white;
    text-align: left;
    margin: 25px 30px 50px 30px;
    width: 600px;
    font-family: "Open Sans", serif;

}
h2 {
    color: #f25f29;
    margin-left: 160px;
    text-align: start;
    font-family: "Open Sans SemiBold", serif;
    font-size: 25px;
}

 p strong {
    font-size: 30px;
    color: #f25f29;
}

p {
    font-family: "Open Sans Light", serif;
    text-align: justify;
    color: white;
    font-size: 20px;
    margin-left: 160px;
    margin-bottom: 50px;
}


/*------------------------SECTION  block droite--------------------------------*/
aside {
    float: right;
    width: 40%;
}
#technologie{
    color: #f25f29;
     margin-left: 220px;
}
.container{
    padding: 30px;
    margin-top: 80px;
    background-color: white;
    box-shadow: 0 4px 5px #17195d;
    text-align: center;
    border-radius: 20px;

}

.bloc_droit2 {
    box-shadow: 0 4px 5px #17195d;
    float: right;
    padding: 80px 50px 50px 40px;
    margin-top: 30px;
    background-color: #acbf1b;
    font-size: 15px;
    color: white;
    border-radius: 20px;
    font-family: "Open Sans", serif;
    width: 100%;
}

.form > label {
    display: inline-block;
    width: 20%;
    text-align: right;
    vertical-align: center;
}
textarea{
    margin:.7em;
    width: 70%;
    height: 80px;
}
.form > input
{
    margin:.7em;
    font: 15px "Open Sans", serif;
    width: 70%;
    height: auto;
}

#envoyer > button {
    vertical-align: center;
    padding: 20px;
    width: auto;
    background-color: white;
    font-family: "Open Sans", serif;
    margin-left: 150px;
}


/*----------------------FOOTER----------------------*/
footer {
    margin-top: 100px;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: #f25f29;
    color: white;
    display: flex;
    justify-content: space-between;
}

.txt_footer p {
    display: inline-block;
    font-size: 15px;
    margin-left: 5px;
    padding: 20px;
    margin-top: 20px;
}

#icones_footer{
    font-size: 35px;
    color: white;
    margin: 10px 10px 0 0;
    justify-items: end;
    text-decoration: none;
    list-style: none;
}
.fa-envelope-square, .fa-facebook-square, .fa-twitter-square{
    padding: 20px;
    cursor: pointer;
}
.txt_footer2{
    padding-right: 10px;
    text-decoration: none;
    list-style: none;
}
a{
    color: white;
}
/*----------------------FOOTER END----------------------*/
