* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: "Montserrat Alternates Medium", sans-serif;
    background-color:#395285;
    background-image: url("../img/transparent-background-01.png");
}

/*-----------PROMOTION--------------------*/


h1{text-align: center;font-size: 40px;text-decoration: #2196F3;color: #333;}
img{vertical-align: middle}
p{font-size: 20px;line-height: 40px;padding-top: 20px}
i{font-size: 130%;}
.fa-bars{color: #333}

.logoGitHub{width:50%; text-align: center;margin: 25px 0 0 15px;cursor: pointer}
.logoLink{width: 30%;margin-top: -100px;margin-left:100px;cursor: pointer}
.logoCV{width: 30%;margin-left:60px;cursor: pointer;margin-top: -20px}

/*------------------ Slideshow container ------------------------------*/
.photo-container{position: relative;/* Container needed to position the overlay. Adjust the width as needed */
    width: 180px;
    height: 180px;
    background-color: grey;
    margin: 6px;
}
.photo{width: 100%;height: auto;cursor: pointer}/* Make the image to responsive */
.overlay{position: absolute;
    bottom: 0;
    left:0;
    right: 0;
    background-color: #ffffff;
    overflow: hidden;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    opacity: .8;
    transform: scale(0);
    transition: .3s ease}/* The overlay effect (full height and width) - lays on top of the container and over the image */

.photo-container:hover .overlay {transform: scale(1);}/* When you mouse over the container, the overlay text will "zoom" in display */


.slideshow-container{
    max-width: 1000px;
    position: relative;
    margin:auto;
    background-color: #f1f1f1;
    height: 600px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 80px;
    overflow: scroll;
}

