* {
    box-sizing: border-box;
}
/* COLORS */
body, html {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: "Montserrat Alternates Medium", sans-serif;
    background-color:#395285;
    background-image: url("img/transparent-background-01.png");


}


.fa-home, .fa-laptop-code, .fa-portrait, .fa-paper-plane,.fa-sticky-note,.fa-hands-helping,.fa-sign-in-alt,.fa-envelope-square,.fa-twitter-square,.fa-facebook-square
{
    text-align: center;
    color: white;
    font-size: 40px;
    padding: 25px 10px 0 10px;
    transition: .4s ease;
}


.txtNav{
    font-size: 15px;
    color: white;
    text-align: center;
    padding: 0;
    font-family: "Open Sans Light", serif;
}

.lnVerticale{
    border-left: 5px solid white;
    height: auto;
    width: auto;
    margin-left: 120px;
}

h1 {
    font-size: 55px;
    color: white;
    text-align: left;
    margin: 0 30px 0 30px;
    font-family: "Open Sans", serif;

}

p strong {
    font-size: 30px;
    color: #f25f29;

}
p {

    color: white;
    font-family: "Open Sans Light", serif;
    text-align: justify;
    font-size: 18px;


}
a{
    font-family: "Open Sans", serif;
}

h2 {
    font-size: medium;
    padding: .3em;
    color: #f25f29;
}

/* header*/
header {
    width: 100%;
    margin: 0 auto 0 auto;
    text-align: center;
    color: white;
}

.nav ul {
    list-style: none;
    z-index: 3;
    padding: 0;
}


.nav a {
    text-align:center;
    text-decoration: none;
    color:white;
}

.nav .menu_flex {
    display:flex;
    width: 100%;
    height: 100px;
    box-shadow: 0 2px 2px #17195d;
}

.flex_items {
    width: 20%;
    text-align: center;
    font-weight: bold;
    color:#fefefe;
    letter-spacing: 2px;
    border-bottom: 2px;

}

.menu-item {
    cursor: pointer;
    background-color: #395285;
}

.flex_items.logo {
    background: transparent;
    align-items: flex-start;
}

.active, .flex_items:hover {
    transform: skew(5deg);
    background-color: #354170;

}

#titre-aside {
    color: #f25f29;
    font-size: x-large;
    text-align: center;
    padding: .5em;
}

#infos_aside ul {
    list-style:none;
    width: 100%;
    padding-left: 0;
    line-height: 2.1em;
    color: #3b728f;
}


/*formation*/

#formation {
    font-size: medium;
}

#formation > ul {

    font-weight: normal;
    line-height: 1.8em;
    color: white;
    font-family: "Open Sans", serif;
    font-size: 18px;
    padding-bottom: 30px;
}

.tableau {
    padding-top: 1.5em;
}

.col-sm{
    width: 60px;
    height: 60px;
}

.inscription
{   margin: auto;
    padding: 1%;
    width: auto;
    height: 300px;
    text-align: center;
    font-size: medium;
}

.form > label {
    display: inline-block;
    width: 20%;
    text-align: right;
    vertical-align: center;
}

.form > input, textarea
{
    margin:.7em;
    font: normal 1em sans-serif;
    width: 65%;
    vertical-align: center;
    height: auto;
}

#envoyer > button {
    margin: .5em;
    padding: .5em;
    width: auto;
    background-color: white;

}

/*contat*/
/*popup2*/

.container_popup2 {
    background-color: #acbf1b;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
    margin: 3em 8em;
}

.button {
    text-decoration: none;
    font-size: .875rem;
    text-transform: uppercase;
    display: inline-block;
    border-radius: 1.5rem;
    background-color: #fff;
    color: #395285;
    padding: 1rem 2rem;
    font-weight: 900;
}

.popup2 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100vw;
    height: 100vh;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 15;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: .64s ease-in-out;
}
.popup-inner2 {
    position: relative;
    bottom: -100vw;
    right: -100vh;
    display: flex;
    align-items: center;
    max-width: 800px;
    max-height: 600px;
    width: 60%;
    height: 80%;
    background-color: #fff;
    transform: rotate(32deg);
    transition: .64s ease-in-out;
}

.popuptext2 {
    width: 70%;
    height: 100%;
    padding: 4rem;
}
.popuptext2 > form {
    padding : 3em;
}

.popup2:target {
    visibility: visible;
    opacity: 1;
}
.popup2:target .popup-inner2 {
    bottom: 0;
    right: 0;
    transform: rotate(0);
}
.closepopup2 {
    position: absolute;
    right: -1rem;
    top: -1rem;
    width: 3rem;
    height: 3rem;
    font-size: .875rem;
    font-weight: 300;
    border-radius: 100%;
    background-color: #47BDFF;
    z-index: 4;
    color: #fff;
    line-height: 3rem;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
}

/*renseignements*/

#renseignements {
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-flow: row wrap;
    background: none;
    margin: 50px  30px 0 30px

}

.flex_r {

    border-left: 5px solid white;
   font-family: "Open Sans", serif;

}
.flex_r  {
    color: white;
   padding: 0 70px 0 70px;
    margin-left: 50px;
}




#iframe {
    margin:2em;
}

/*Actu*/

.separator {
    height: 3px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: white;
    margin-top: 3%;
    margin-bottom: 2%;
}
.row.actu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    padding-left:1em;
    padding-right: 2em;

}

.btn_right {
    text-align: right;
}

.col-sm3 {
    margin-right: 2%;
}

.photo_art {
    width: 120%;
}


.txtActualite{
    padding-left: 120px;
    width: 600px;
    font-family: "Open Sans", serif;
    margin-top: 20px;

}
.H2Actualite {
    padding-left: 120px;
    text-align: start;
    width: 600px;
    font-family: "Open Sans SemiBold", serif;
    font-size: 20px;
    color: #f25f29;
}

#notreSlogan{
    color: #f25f29;
}

.col-sm9 > .col-sm9 > h2 {
    text-align: left;
    font-size: medium;
    font-weight: bold;
}
.bouton {
    text-align: right;
    float: right;
    background-color: #3b728f;
    color: white;
}

/*footer*/

/*footer*/

footer {
    margin-top: 50px;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: #f25f29;
    color: white;
    display: flex;
    justify-content: space-between;
}

.txt_footer p {
    display: inline-block;
    font-family: "Open Sans", serif;
    font-size: 15px;
    padding: 30px;
    margin-left: 5px;

}


.fa-envelope-square, .fa-facebook-square, .fa-twitter-square {
    color: white;
    padding: 20px;
    margin-top: 10px;
    justify-items: end;
}
#icones_footer > i {
    font-size: 5em ;
    color: #40178f;
    padding: .5em  1.5em;

}
